<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/header') %>
  <body>
    <%- include ('../partials/navbar') %>
  
  <body>
    <br />
    <div class="container">
      <center>
        <h2>Painel de administração </h2>
        <hr />

        <div class="row">
          <div class="col-sm">
            <div class="card" style="width: 28rem;">
              <div class="card-header">
                <h5>Categoria</h5>
              </div>
              <div class="card-body">
                <p class="card-text">Crie novas categorias para o seu blog.</p>
                <a
                class="nav-link btn btn-outline-success my-2 my-sm-0"
                href="/blog/admin/categories"
                >Categoria
              </a>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card" style="width: 28rem;">
              <div class="card-header">
                <h5>Artigos</h5>
              </div>
              <div class="card-body">
                <p class="card-text">Veja os artigos criado.</p>
                <a
                class="nav-link btn btn-outline-success my-2 my-sm-0"
                href="/blog/admin/articles"
                >Categoria
              </a>
              </div>
            </div>
          </div>
        </div>
       
         
          
        
        
      </center>
        
    </div>
    
    
  </body>
  <%- include ('../partials/footer') %>
</html>

