<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="display-1">
        Projetos<br />
        Curso de NODE.JS
      </h1>

      <div class="row">
        <!-- PROJETO 1 -->
        <div class="col-sm">
          <hr class="my-4" />
          <div class="jumbotron">
            <h3 class="display-6">Projeto Perguntas e Respostas</h3>
            <hr />
            <p class="lead">O que foi usado:</p>
            <ul>
              <li>NODE.JS</li>
              <li>MYSQL</li>
              <li>EJS</li>
              <li>NODEMOM</li>
              <li>BODY PARSE</li>
              <li>BOOTSTRAP</li>
              <li>SEQUELIZE</li>
              <li>sweetalert2</li>
              <li>AJAX</li>
            </ul>
            <hr class="my-4" />
            <p>
              Um simples projeto de perguntas e resposta.<br />
              Com o fasmoso CRUD no banco de MYSQL
            </p>
            <a class="btn btn-primary btn-lg" href="/modulo-1" role="button"
              >Ver projeto</a
            >
          </div>
        </div>
        <!-- PROJETO 2 -->
        <div class="col-sm">
          <hr class="my-4" />
          <div class="jumbotron">
            <h3 class="display-6">Projeto Blog</h3>
            <hr />
            <p class="lead">O que foi usado:</p>
            <ul>
              <li>MVC</li>
              <li>NODE.JS</li>
              <li>MYSQL</li>
              <li>EJS</li>
              <li>NODEMOM</li>
              <li>BODY PARSE</li>
              <li>BOOTSTRAP</li>
              <li>SEQUELIZE</li>
              <li>SLUGIFY</li>
              <li>TINYMCE</li>
              <li>BCRYPTJS</li>
            </ul>
            <hr class="my-4" />
            <p>
              Um simples projeto de perguntas e resposta.<br />
              Com o fasmoso CRUD no banco de MYSQL
            </p>
            <a class="btn btn-primary btn-lg" href="/blog" role="button"
              >Ver projeto</a
            >
          </div>
        </div>
      </div>
    </div>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"
  ></script>
  <script src="/js/bootstrap.min/js"></script>
</html>
